<head class="app-title">
    <title>Kapoot</title>
</head>
<header>
    <app-header></app-header>
</header>
<body>
    <div class="main-view justified">
        <div id="toothless container">
            <img src="./assets/welcome.gif" alt="toothless gif :)" />
        </div>
        <div id="options">
            <button (click)="navigateToJoinGamePage()">Joindre une partie</button>
            <button (click)="openModal()">Créer une partie</button>
        </div>
    </div>
</body>
<footer>
    <app-footer></app-footer>
</footer>
