.quiz-options {
    display: flex;
    justify-content: space-between;
}

.left-side-options {
    display: flex;
    margin: 10pt 20pt 0 20pt;
}

.right-side-option {
    margin: 10pt 20pt 0 20pt;
}

.button-icon {
    width: 50pt;
    height: 50pt;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
}

.svgIcon {
    width: 24pt;
    height: 24pt;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button-icon:hover {
    width: 140pt;
    border-radius: 60pt;
    transition-duration: 0.5s;
    align-items: center;
}

.button-icon:hover .svgIcon {
    width: 30pt;
    transition-duration: 0.5s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.button-icon.save::before {
    display: none;
    content: 'Sauvegarder';
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

.button-icon.return::before {
    display: none;
    content: 'Retour';
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

.button-icon.delete::before {
    display: none;
    content: 'Supprimer';
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

.button-icon.add::before {
    display: none;
    content: 'Banque';
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

.button-icon.edit::before {
    display: none;
    content: 'Modifier';
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

.button-icon:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
}
.add:hover {
    background-color: forestgreen;
}

/* Save Button */
.save:hover {
    background-color: dodgerblue;
}

/* Return Button*/
.edit:hover,
.return:hover {
    background-color: purple;
}

/* Delete button */

.delete:hover {
    background-color: red;
}
