h2 {
    background: linear-gradient(to right, #e81cff, #40c9ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    font-size: 25pt;
}

span {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: -50pt 20pt auto 40pt;
}
